/*Adjust as required*/
#define VITAL_MONITOR_CHANNEL_RESPIRATION     AD469X_CHANNEL_12
#define VITAL_MONITOR_CHANNEL_TEMPERATURE     AD469X_CHANNEL_13

#define VITAL_MONITOR_CHANNEL_ACCELERATION_X  AD469X_CHANNEL_5
#define VITAL_MONITOR_CHANNEL_ACCELERATION_Y  AD469X_CHANNEL_6
#define VITAL_MONITOR_CHANNEL_ACCELERATION_Z  AD469X_CHANNEL_7

#define VITAL_MONITOR_CHANNEL_HEART_RATE_1    AD469X_CHANNEL_4
#define VITAL_MONITOR_CHANNEL_HEART_RATE_2    AD469X_CHANNEL_1

#define VITAL_MONITOR_CHANNEL_BLOOD_OXYGEN_1  AD469X_CHANNEL_3
#define VITAL_MONITOR_CHANNEL_BLOOD_OXYGEN_2  AD469X_CHANNEL_2